div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  max-height: 500px;
}

div.scroll-container img {
  padding: 10px;
  width: 100%;
  object-fit: cover;
}

#cta-lead {
  font-size: 1rem;
  opacity: 0.7;
}

.button-story {
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words */
  width: 100%; /* Ensure the button takes full width */
  max-width: 100%; /* Prevent overflow */
}
